a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFF;
    color: #2E363E;
}

.container {
    margin: 0 auto;
    max-width: 1194px;
    padding: 0 15px;
}

.header {
    border-bottom: 3px solid #2C7250;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    color: #2C7250;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 900;
        line-height: 1.5;
        text-transform: uppercase;
}

.header-nav {}

.header-list {
    display: flex;
    gap: 40px;
}

/* .header-list-item:not(:last-child) {
    margin-right: 40px;
} */

.header-link {
    color: #2E363E;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.5;
        padding: 56px 0;
        display: block;
}

.header-link:hover,
.header-link:focus {
    color: #2C7250;
}

.header-address {}

.header-address-link {
    color: #2C7250;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.52;
}